<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="card mt-3">
            <h6 class="card-header">Ordering System</h6>
            <div class="card-body">
                <div class="row">

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Products</h5>
                                <p class="card-text">Manage products stored in the system</p>
                                <a href="/products/" class="btn btn-primary">Go</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Customers</h5>
                                <p class="card-text">Manage customers stored in the system</p>
                                <a href="/customers/" class="btn btn-primary">Go</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Orders</h5>
                                <p class="card-text">Manage customer orders stored in the system</p>
                                <a href="/orders/" class="btn btn-primary">Go</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
